.infoPanel {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.infoPanel-row {
  text-align: left;
  padding: 0.5em 0.5em;
  /* border-bottom: 1px solid blue; */
}

.infoPanel__header {
  /* width: 25%; */
}

.infoPanel__values {
  /* //width: 80%; */
}

.infoPanel-row__title {
font-weight: bold;

}
