.listContainer {
  margin-top: 150px;
}

ul {
  height: 500px;
  width: 250px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  font-size: 16px;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
}

li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.list-filter {
  padding: 10px;
  font-size: 17px;
  width: 100%;
}

.list-filteredItem {
  cursor: pointer;
}