ul {
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height:500px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  
  border: 2px solid #ccc;
  
  font-size: 16px;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
}

li {
  padding: 10px 20px;
  
  border-bottom: 1px solid #ccc;

}